#contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#cabecera {
    background-color: rgb(165, 135, 23);
    padding: 10px;
}

#fila {
    display: flex;
    flex: 1;
}

#menu {
    width: 200px;
    background-color: rgb(15, 54, 182);
    padding: 10px;
    order: 2 /* Mueve el menú a la derecha*/ 
}

#contenido {
    flex: 1;
    background-color: rgb(154, 230, 33);
    padding: 10px;
    order: 1;/* Mueve el menú a la Izquierda*/ 
}

#pie {
    background-color: rgb(223, 97, 19);
    padding: 10px;
}